@using ResourceManagementSystem.BusinessLogic.Workflow;
@using ResourceManagementSystem.BusinessLogic.Entities;
@{   
    Layout = "~/Views/Layouts/_MainLayout.cshtml";
    Page.Title = "Define Study Programs";

    string errorMessage;
    StudyProgramsViewModel studyProgramsViewModel = Session["studyProgramsViewModel"] as StudyProgramsViewModel ?? ViewModelFactory.StudyProgramsViewModel;
    Session["studyProgramsViewModel"] = studyProgramsViewModel;
    IEnumerable<StudyProgram> programs = studyProgramsViewModel.TryGetAll(out errorMessage);
    
    
}

@section body{
    <ul class="nav nav-tabs">
        <li class="active"><a>Define Study Programs</a></li>
    </ul>

    <div class="well">
        @if (!IsPost)
        {
            <form action="~/addStudyProgram.cshtml" class="form-horizontal addStudyPrograms" method="post">
                <div class="row">
                    <div class="span3 pull-left" style="margin-left:0;">
                        <label>Educational&nbsp;Programme&nbsp;:&nbsp;</label>
                        <input type="text" class="edProgramme" name="edProgramme" />

                        <label>Domain&nbsp;:&nbsp;</label>
                        <input type="text" class="domain" name="domain" />

                        <label>Total&nbsp;Ects&nbsp;Credits&nbsp;:&nbsp;</label>
                        <input type="number" class="totalCredits" name="totalCredits" />

                        <label>Higher&nbsp;Education&nbsp;Institution&nbsp;:&nbsp;</label>
                        <input type="text" class="higherEducationInstitution" name="higherEducationInstitution" />
                        
                        <label>Contact&nbsp;Person&nbsp;:&nbsp;</label>
                        <input type="text" class="contactPerson" name="contactPerson" />

                         <label>Fax&nbsp;:&nbsp;</label>
                         <input type="text" class="fax" name="fax" />

                        <label>Profile&nbsp;Of&nbsp;The&nbsp;Degree&nbsp;Programme&nbsp;:&nbsp;</label>
                        <input type="text" class="profileOfTheDegreeProgramme" name="profileOfTheDegreeProgramme" />

                        <label>Entrance&nbsp;Conditions&nbsp;:&nbsp;</label>
                        <input type="text" class="entranceConditions" name="entranceConditions" />

                        <label>Description&nbsp;Of&nbsp;Study&nbsp;:&nbsp;</label>
                        <input type="text" class="descriptionOfStudy" name="descriptionOfStudy" />

                        <label>Area&nbsp;Of&nbsp;Expertise&nbsp;:&nbsp;</label>
                        <input type="text" class="areaOfExpertise" name="areaOfExpertise" />

                        <label>Practical&nbsp;Training&nbsp;:&nbsp;</label>
                        <input type="text" class="practicalTraining" name="practicalTraining" />

                        <label>Gained&nbsp;Abilities&nbsp;And&nbsp;Skills&nbsp;:&nbsp;</label>
                        <input type="text" class="gainedAbilitiesAndSkills" name="gainedAbilitiesAndSkills" />
                    </div>

                    <div class="span3 pull-right">
                        <label>Study&nbsp;degree&nbsp;:&nbsp;</label>
                        <select class="studyDegree" name="studyDegree">
                            <option value="0">Bachelor</option>
                            <option value="1">Master</option>
                        </select>

                        <label>Year&nbsp;length&nbsp;:&nbsp;</label>
                        <input type="number" class="yearLength" name="yearLength" />

                        <label>Study&nbsp;time&nbsp;:&nbsp;</label>
                        <select class="studyTime" name="studyTime">
                            <option value="0">Full time</option>
                            <option value="1">Distance</option>
                        </select>

                        <label>Faculty&nbsp;:&nbsp;</label>
                        <input type="text" class="faculty" name="faculty" />

                        <label>Phone&nbsp;:&nbsp;</label>
                        <input type="text" class="phone" name="phone" />

                        <label>Email&nbsp;:&nbsp;</label>
                        <input type="text" class="email" name="email" />

                        <label>TargetGroups&nbsp;:&nbsp;</label>
                        <input type="text" class="targetGroups" name="targetGroups" />

                        <label>Further&nbsp;Education&nbsp;Possibilities&nbsp;:&nbsp;</label>
                        <input type="text" class="furtherEducationPossibilities" name="furtherEducationPossibilities" />

                        <label>Purposes&nbsp;Of&nbsp;The&nbsp;Programme&nbsp;:&nbsp;</label>
                        <input type="text" class="purposesOfTheProgramme" name="purposesOfTheProgramme" />

                        <label>Extra&nbsp;Peculiarities&nbsp;:&nbsp;</label>
                        <input type="text" class="extraPeculiarities" name="extraPeculiarities" />

                        <label>Final&nbsp;Examinations&nbsp;:&nbsp;</label>
                        <input type="text" class="finalExaminations" name="finalExaminations" />

                        <label>Potential&nbsp;Field&nbsp;Of&nbsp;Activity&nbsp;:&nbsp;</label>
                        <input type="text" class="potentialFieldOfProfessionalActivity" name="potentialFieldOfProfessionalActivity" />
                    </div>
                </div>

                <div class="pull-right">
                    <input class="btn" type="submit" value="Add" />
                </div>
            </form>
        }
        else
        {
            studyProgramsViewModel.AreaOfExpertise = Request["areaOfExpertise"];
            studyProgramsViewModel.ContactPerson = Request["contactPerson"];
            studyProgramsViewModel.StudyDegreeSelectedIndex = Request["studyDegree"] == null ? 0 : Convert.ToInt32(Request["studyDegree"]);
            studyProgramsViewModel.DescriptionOfStudy = Request["descriptionOfStudy"];
            studyProgramsViewModel.Domain = Request["domain"];
            studyProgramsViewModel.EducationalProgramme = Request["edProgramme"];
            studyProgramsViewModel.EMail = Request["EMail"];
            studyProgramsViewModel.EntranceConditions = Request["entranceConditions"];
            studyProgramsViewModel.ExtraPeculiarities = Request["ExtraPeculiarities"];
            studyProgramsViewModel.Faculty = Request["faculty"];
            studyProgramsViewModel.Fax = Request["fax"];
            studyProgramsViewModel.FinalExaminations = Request["finalExaminations"];
            studyProgramsViewModel.FurtherEducationPossibilities = Request["furtherEducationPossibilities"];
            studyProgramsViewModel.GainedAbilitiesAndSkills = Request["gainedAbilitiesAndSkills"];
            studyProgramsViewModel.HigherEducationInstitution = Request["higherEducationInstitution"];
            studyProgramsViewModel.Phone = Request["Phone"];
            studyProgramsViewModel.PotentialFieldOfProfessionalActivity = Request["potentialFieldOfProfessionalActivity"];
            studyProgramsViewModel.PracticalTraining = Request["PracticalTraining"];
            studyProgramsViewModel.ProfileOfTheDegreeProgramme = Request["profileOfTheDegreeProgramme"];
            studyProgramsViewModel.PurposesOfTheProgramme = Request["purposesOfTheProgramme"];
            studyProgramsViewModel.StudyTimeSelectedIndex = Request["studyTime"] == null ? 0 : Convert.ToInt32(Request["studyTime"]);
            studyProgramsViewModel.TargetGroups = Request["targetGroups"];
            studyProgramsViewModel.TotalEctsCredits = Request["totalCredits"].Length > 0 ? Convert.ToInt32(Request["totalCredits"]) : 0;
            studyProgramsViewModel.YearLength = Request["yearLength"].Length > 0 ? Convert.ToInt32(Request["yearLength"]) : 0;

            if (studyProgramsViewModel.TryAddProgramme(out errorMessage))
            {
            <h1>Success!</h1>
            <p>The study program has been inserted!</p>
            }
            else
            {
            <h1>Error!</h1>
            <p>Could not add study program! @errorMessage</p>
            }   
            
            <a class="btn pull-right" href="/addStudyProgram.cshtml">Finish</a>    
        }
        <div style="clear: both;"></div>
    </div>
}
