@using ResourceManagementSystem.BusinessLogic.Entities;
@using ResourceManagementSystem.BusinessLogic.Workflow;

@{
    Layout = "~/Views/Layouts/_MainLayout.cshtml";
    Page.Title = "Home Page";

    string errorMessage;
    MemberViewModel memberViewModel = Session["memberViewModel"] as MemberViewModel;
    ResearchProjectViewModel researchProjectViewModel = Session["researchProjectViewModel"] as ResearchProjectViewModel ?? ViewModelFactory.ResearchProjectViewModel;
    Session["researchProjectViewModel"] = researchProjectViewModel;
    IEnumerable<ResearchProject> researchProjects = researchProjectViewModel.TryGetAll(out errorMessage);
    if (memberViewModel == null)
    {
        memberViewModel = ViewModelFactory.MemberViewModel;
        Session["memberViewModel"] = memberViewModel;
    }

    if (IsPost)
    {
        if (Request["email"] != null)
        {
            memberViewModel.EMail = Request["email"];
        }
        if (Request["password"] != null)
        {
            memberViewModel.Password = Request["password"];
        }
    }
    if (Request["log"] == "in")
    {
        memberViewModel.Authenticate();
    }
    else if (Request["log"] == "out")
    {
        memberViewModel.Logout();
    }
}

@section body{
    <div class="well">
        <h1>Hello!</h1>
        <p>
            Welcome to Resource Management System! Please have a look at our projects:
        </p>

        @if (researchProjects != null)
        {
            if (researchProjects.Count() > 0)
            {
            <ul>
                @foreach (ResearchProject project in researchProjects)
                {
                    <li><a href =" getProjectsInfo.cshtml?id=@project.Id">@project.Title </a></li>
                }
            </ul>
            }
            else
            {
            <h1>No projects... :(</h1>
            <p>There are no active projects!</p>
            }
        }
        else
        {
            <h1>Error!</h1>
            <p>@errorMessage</p>
            <p>We are terebly sorry for the inconvenience...</p>
        }
    </div>
}
