@{
    var vm = new ResourceManagementSystem.BusinessLogic.Workflow.HumanResourcesViewModel();
    if (Request["memberType"] != null)
    {
        vm.MemberTypeSelectedIndex = int.Parse(Request["memberType"]);
    }
    string message;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Untitled</title>
</head>
<body>
    <form action="test1.cshtml" method="post">
        <select name="memberType" id="memberType">
            @for (int i = 0; i < vm.MemberTypes.Length; i++)
            {
                <option value="@i">@vm.MemberTypes[i]</option>
            }
        </select>
        <input type="submit" value="Add">
    </form>
    <p>@vm.TryAddMember(out message)</p>
</body>
</html>
