<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings >
    <add key ="webPages:Version" value ="2.0"/>
  </appSettings >
  <connectionStrings>
    <add connectionString="Initial Catalog=Andrei15193_sqldb; Data Source=andrei15193.tk,779; User=Andrei15193_RMSuser; Password=d3m3nt14l123" providerName="System.Data.SqlClient" name="dbConnection"/>
  </connectionStrings>
</configuration>